  body, input, button { font-size: 1.5rem; }
  input, button { border: 1px solid grey; }
  body { line-height: 3rem; }
  .short { width: 4rem; }
  .result { width: 7rem; }
  @media screen and (max-width: 600px) {
    .cfg-row {
      display: block;
    }
  }
  
